@media (max-width: 768px) {
  h1 {
    font-family: "PPMonumentExtended-Regular.otf";
    font-size: 6vw;
    position: absolute;
    color: aliceblue;
    line-height: 90%;
    z-index: 2;
    margin-top: 56vw;
    margin-left: 3vw;
    font-style: normal;
    font-weight: normal;
  }

  h2 {
    font-family: "PPMonumentExtended-Regular.otf";
    font-size: 4vw;
    position: absolute;
    color: aliceblue;
    line-height: 90%;
    z-index: 2;
    text-align: center;
    font-style: normal;
    font-weight: normal;
  }

  h3 {
    font-family: "PPMonumentExtended-Regular.otf";
    font-size: 1vw;
    position: absolute;
    color: aliceblue;
    font-style: normal;
    font-weight: normal;
  }

  span {
    font-family: "PPMonumentExtended-Regular.otf";
    font-size: 1vw;
    position: absolute;
    color: aliceblue;
    z-index: 2;
  }

  .firstblock {
    position: relative;
    height: 200vw;
    position: relative;
    width: 100vw;
  }

  .union {
    position: absolute;
    margin-top: -10vw;
    height: 178vw;
    width: 189vw;
    margin-left: 9vw;
    overflow: hidden;
  }

  .planet1 {
    position: absolute;
    margin-left: 33vw;
    margin-top: 10vw;
    width: 4.5vw;
  }

  .sun {
    position: absolute;
    margin-left: 37vw;
    margin-top: 45vw;
    width: 8.5vw;
  }

  .planet2 {
    position: absolute;
    margin-left: 34vw;
    margin-top: 6vw;
    width: 4vw;
  }

  .planet3 {
    position: absolute;
    margin-left: 70vw;
    margin-top: 45vw;
    width: 4vw;
  }

  .planet4 {
    position: absolute;
    margin-left: 85vw;
    margin-top: 42vw;
    width: 4.5vw;
  }

  .planet5 {
    position: absolute;
    margin-left: 60vw;
    margin-top: 31vw;
    width: 4.5vw;
  }

  .planet6 {
    position: absolute;
    margin-left: 73vw;
    margin-top: 27vw;
    width: 6vw;
  }

  .planet7 {
    position: absolute;
    margin-left: 63vw;
    margin-top: 18vw;
    width: 5vw;
  }

  .planet8 {
    position: absolute;
    margin-left: 50vw;
    margin-top: 8vw;
    width: 4.5vw;
  }
}
